<div class="content">
  <nav class="navbar navbar-light bg-light">
    Test Mining IT - Gustavo Morales
  </nav>

  <div class="selector">
    <button type="button" class="btn btn-primary btn1" (click)="changeView(1)">
      Primer ejercicio
    </button>
    <button type="button" class="btn btn-secondary btn2" (click)="changeView(2)">
      Segundo ejercicio
    </button>
  </div>

  <app-numbers *ngIf="componentToShow"></app-numbers>
  <app-paragraph *ngIf="!componentToShow"></app-paragraph>
</div>