<div class="content">
  <div class="get_info_buton">
    <button type="button" class="btn btn-primary" (click)="getInfo()">
      <span class="spinner-border spinner-border-sm" 
        role="status" aria-hidden="true" *ngIf="loading">
      </span>
      Obtener info
    </button>
  </div>
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let letra of alphabet">
            {{ letra }}
          </th>
          <th scope="col">Suma</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of finalInfoArray; let i = index">
          <td scope="col" >
            {{ i }}
          </td>
          <td *ngFor="let leters of info.letras">{{ leters.letra}} </td>
          <td>{{ info.number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>