.content {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 0 0;

  .get_info_buton {
    width: 13%;
    margin: 30px auto;

    .loading {
      width: 100%;
    }
  }

  .yellowRow {
    background-color: #E9F25D;
  }

  .greenRow {
    background-color: #2DD547;
  }

  .input-group {
    margin-bottom: 30px;
  }
}