<div class="content">
  <div class="get_info_buton">
    <button type="button" class="btn btn-primary loading" (click)="getNumbersData()">
      <span class="spinner-border spinner-border-sm" 
        role="status" aria-hidden="true" *ngIf="loading">
      </span>
      Obtener info
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let numberData of newArray; let i = index" 
        [ngClass]="(numberData.quantity === 1) ? 'yellowRow' : 'greenRow'"
      >
        <th scope="row">{{ i }}</th>
        <td>{{ numberData.number }}</td>
        <td>{{ numberData.quantity }}</td>
        <td>{{ numberData.first }}</td>
        <td>{{ numberData.last }}</td>
      </tr>
    </tbody>
  </table>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Números ordenados</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" 
      disabled [(ngModel)]="orderLegacyArray" rows="1">
    </textarea>
  </div>
</div>